# 3. Feature Engineering

In [33]:
import pickle
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2
import numpy as np
import csv

In [34]:
df = pd.read_csv('Data/new_dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 6 columns):
Unnamed: 0     2225 non-null int64
File_Name      2225 non-null object
Category       2225 non-null object
Content        2225 non-null object
id             2225 non-null int64
News_length    2225 non-null int64
dtypes: int64(3), object(3)
memory usage: 104.4+ KB

In [35]:
df.loc[1]['Content']

'Dollar gains on Greenspan speech\n\nThe dollar has hit its highest level against the euro in almost three months after the Federal Reserve head said the US trade deficit is set to stabilise.\n\nAnd Alan Greenspan highlighted the US government\'s willingness to curb spending and rising household savings as factors which may help to reduce it. In late trading in New York, the dollar reached $1.2871 against the euro, from $1.2974 on Thursday. Market concerns about the deficit has hit the greenback in recent months. On Friday, Federal Reserve chairman Mr Greenspan\'s speech in London ahead of the meeting of G7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected US jobs data. "I think the chairman\'s taking a much more sanguine view on the current account deficit than he\'s taken for some time," said Robert Sinche, head of currency strategy at Bank of America in New York. "He\'s taking a longer-term view, laying out a set of conditions under which the current account deficit can improve this year and next."\n\nWorries about the deficit concerns about China do, however, remain. China\'s currency remains pegged to the dollar and the US currency\'s sharp falls in recent months have therefore made Chinese export prices highly competitive. But calls for a shift in Beijing\'s policy have fallen on deaf ears, despite recent comments in a major Chinese newspaper that the "time is ripe" for a loosening of the peg. The G7 meeting is thought unlikely to produce any meaningful movement in Chinese policy. In the meantime, the US Federal Reserve\'s decision on 2 February to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with European rates. The half-point window, some believe, could be enough to keep US assets looking more attractive, and could help prop up the dollar. The recent falls have partly been the result of big budget deficits, as well as the US\'s yawning current account gap, both of which need to be funded by the buying of US bonds and assets by foreign firms and governments. The White House will announce its budget on Monday, and many commentators believe the deficit will remain at close to half a trillion dollars.\n'

In [36]:
df.loc[1]['Content']

'Dollar gains on Greenspan speech\n\nThe dollar has hit its highest level against the euro in almost three months after the Federal Reserve head said the US trade deficit is set to stabilise.\n\nAnd Alan Greenspan highlighted the US government\'s willingness to curb spending and rising household savings as factors which may help to reduce it. In late trading in New York, the dollar reached $1.2871 against the euro, from $1.2974 on Thursday. Market concerns about the deficit has hit the greenback in recent months. On Friday, Federal Reserve chairman Mr Greenspan\'s speech in London ahead of the meeting of G7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected US jobs data. "I think the chairman\'s taking a much more sanguine view on the current account deficit than he\'s taken for some time," said Robert Sinche, head of currency strategy at Bank of America in New York. "He\'s taking a longer-term view, laying out a set of conditions under which the current account deficit can improve this year and next."\n\nWorries about the deficit concerns about China do, however, remain. China\'s currency remains pegged to the dollar and the US currency\'s sharp falls in recent months have therefore made Chinese export prices highly competitive. But calls for a shift in Beijing\'s policy have fallen on deaf ears, despite recent comments in a major Chinese newspaper that the "time is ripe" for a loosening of the peg. The G7 meeting is thought unlikely to produce any meaningful movement in Chinese policy. In the meantime, the US Federal Reserve\'s decision on 2 February to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with European rates. The half-point window, some believe, could be enough to keep US assets looking more attractive, and could help prop up the dollar. The recent falls have partly been the result of big budget deficits, as well as the US\'s yawning current account gap, both of which need to be funded by the buying of US bonds and assets by foreign firms and governments. The White House will announce its budget on Monday, and many commentators believe the deficit will remain at close to half a trillion dollars.\n'

## 1. Text Cleaning and Preparation

Berikut adalah langkah-langkah text cleaning dan preprocessing:
1. Lematisasi, mengubah ke bentuk kata dasar dengan bantuan wordnet
2. Hapus stopwords

In [37]:
# Downloading punkt and wordnet from NLTK
nltk.download('punkt')
print("------------------------------------------------------------")
nltk.download('wordnet')

------------------------------------------------------------

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\acer\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\acer\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [38]:
# Saving the lemmatizer into an object
wordnet_lemmatizer = WordNetLemmatizer()

In [39]:
nrows = len(df)
lemmatized_text_list = []

for row in range(0, nrows):
    
    # Create an empty list containing lemmatized words
    lemmatized_list = []
    
    # Save the text and its words into an object
    text = df.loc[row]['Content']
    text_words = text.split(" ")

    # Iterate through every word to lemmatize
    for word in text_words:
        lemmatized_list.append(wordnet_lemmatizer.lemmatize(word, pos="v"))
        
    # Join the list
    lemmatized_text = " ".join(lemmatized_list)
    
    # Append to the list containing the texts
    lemmatized_text_list.append(lemmatized_text)

In [40]:
df['Content_Parsed_1'] = lemmatized_text_list

In [41]:
# Downloading the stop words list
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\acer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [42]:
# Loading the stop words in english
stop_words = list(stopwords.words('english'))

In [43]:
stop_words[:]

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [44]:
df['Content_Parsed_2'] = df['Content_Parsed_1']

for stop_word in stop_words:

    regex_stopword = r"\b" + stop_word + r"\b"
    df['Content_Parsed_2'] = df['Content_Parsed_2'].str.replace(regex_stopword, '')

In [45]:
df.loc[5]['Content']

'Japan narrowly escapes recession\n\nJapan\'s economy teetered on the brink of a technical recession in the three months to September, figures show.\n\nRevised figures indicated growth of just 0.1% - and a similar-sized contraction in the previous quarter. On an annual basis, the data suggests annual growth of just 0.2%, suggesting a much more hesitant recovery than had previously been thought. A common technical definition of a recession is two successive quarters of negative growth.\n\nThe government was keen to play down the worrying implications of the data. "I maintain the view that Japan\'s economy remains in a minor adjustment phase in an upward climb, and we will monitor developments carefully," said economy minister Heizo Takenaka. But in the face of the strengthening yen making exports less competitive and indications of weakening economic conditions ahead, observers were less sanguine. "It\'s painting a picture of a recovery... much patchier than previously thought," said Paul Sheard, economist at Lehman Brothers in Tokyo. Improvements in the job market apparently have yet to feed through to domestic demand, with private consumption up just 0.2% in the third quarter.\n'

In [46]:
df.loc[5]['Content_Parsed_1']

'Japan narrowly escape recession\n\nJapan\'s economy teeter on the brink of a technical recession in the three months to September, figure show.\n\nRevised figure indicate growth of just 0.1% - and a similar-sized contraction in the previous quarter. On an annual basis, the data suggest annual growth of just 0.2%, suggest a much more hesitant recovery than have previously be thought. A common technical definition of a recession be two successive quarter of negative growth.\n\nThe government be keen to play down the worry implications of the data. "I maintain the view that Japan\'s economy remain in a minor adjustment phase in an upward climb, and we will monitor developments carefully," say economy minister Heizo Takenaka. But in the face of the strengthen yen make export less competitive and indications of weaken economic condition ahead, observers be less sanguine. "It\'s paint a picture of a recovery... much patchier than previously thought," say Paul Sheard, economist at Lehman Brothers in Tokyo. Improvements in the job market apparently have yet to fee through to domestic demand, with private consumption up just 0.2% in the third quarter.\n'

In [47]:
df.loc[5]['Content_Parsed_2']

'Japan narrowly escape recession\n\nJapan\' economy teeter   brink   technical recession   three months  September, figure show.\n\nRevised figure indicate growth   0.1% -   similar-sized contraction   previous quarter. On  annual basis,  data suggest annual growth   0.2%, suggest  much  hesitant recovery   previously  thought. A common technical definition   recession  two successive quarter  negative growth.\n\nThe government  keen  play   worry implications   data. "I maintain  view  Japan\' economy remain   minor adjustment phase   upward climb,    monitor developments carefully," say economy minister Heizo Takenaka. But   face   strengthen yen make export less competitive  indications  weaken economic condition ahead, observers  less sanguine. "It\' paint  picture   recovery... much patchier  previously thought," say Paul Sheard, economist  Lehman Brothers  Tokyo. Improvements   job market apparently  yet  fee   domestic demand,  private consumption   0.2%   third quarter.\n'

In [48]:
df.head(1)

,Unnamed: 0,File_Name,Category,Content,id,News_length,Content_Parsed_1,Content_Parsed_2
0,0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\n\nQuarterly...,1,2559,Ad sales boost Time Warner profit\n\nQuarterly...,Ad sales boost Time Warner profit\n\nQuarterly...

In [49]:
list_columns = ["File_Name", "Category", "Content", "Content_Parsed_2"]
df = df[list_columns]

df = df.rename(columns={'Content_Parsed_2': 'Content_Parsed'})

In [50]:
df.head()

,File_Name,Category,Content,Content_Parsed
0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\n\nQuarterly...,Ad sales boost Time Warner profit\n\nQuarterly...
1,Data/bbc\business\002.txt,business,Dollar gains on Greenspan speech\n\nThe dollar...,Dollar gain Greenspan speech\n\nThe dollar h...
2,Data/bbc\business\003.txt,business,Yukos unit buyer faces loan claim\n\nThe owner...,Yukos unit buyer face loan claim\n\nThe owners...
3,Data/bbc\business\004.txt,business,High fuel prices hit BA's profits\n\nBritish A...,High fuel price hit BA' profits\n\nBritish Air...
4,Data/bbc\business\005.txt,business,Pernod takeover talk lifts Domecq\n\nShares in...,Pernod takeover talk lift Domecq\n\nShares UK...

## 2. Label Coding

Mengubah nama kategori ke bentuk angka

In [51]:
category_codes = {
    'business': 0,
    'entertainment': 1,
    'politics': 2,
    'sport': 3,
    'tech': 4
}

In [52]:
# Category mapping
df['Category_Code'] = df['Category']
df = df.replace({'Category_Code':category_codes})

In [53]:
df.head()

,File_Name,Category,Content,Content_Parsed,Category_Code
0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\n\nQuarterly...,Ad sales boost Time Warner profit\n\nQuarterly...,0
1,Data/bbc\business\002.txt,business,Dollar gains on Greenspan speech\n\nThe dollar...,Dollar gain Greenspan speech\n\nThe dollar h...,0
2,Data/bbc\business\003.txt,business,Yukos unit buyer faces loan claim\n\nThe owner...,Yukos unit buyer face loan claim\n\nThe owners...,0
3,Data/bbc\business\004.txt,business,High fuel prices hit BA's profits\n\nBritish A...,High fuel price hit BA' profits\n\nBritish Air...,0
4,Data/bbc\business\005.txt,business,Pernod takeover talk lifts Domecq\n\nShares in...,Pernod takeover talk lift Domecq\n\nShares UK...,0

## 3. Train-Test Split

Dari total data yang ada, kita ingin pisahkan ke dalam training data dan testing data.

In [54]:
X_train, X_test, y_train, y_test = train_test_split(df['Content_Parsed'], 
                                                    df['Category_Code'], 
                                                    test_size=0.15, 
                                                    random_state=8)

In [55]:
print(len(df))
print(len(X_train))
print(len(X_test))

2225
1891
334

## 4. Text Representation

In [56]:
# Parameter election
ngram_range = (1,2)
min_df = 10
max_df = 1.
max_features = 300

In [57]:

tfidf = TfidfVectorizer(encoding='utf-8',
                        ngram_range=ngram_range,
                        stop_words=None,
                        lowercase=False,
                        max_df=max_df,
                        min_df=min_df,
                        max_features=max_features,
                        norm='l2',
                        sublinear_tf=True)
                        
features_train = tfidf.fit_transform(X_train).toarray()
labels_train = y_train
print(features_train.shape)

features_test = tfidf.transform(X_test).toarray()
labels_test = y_test
print(features_test.shape)

(1891, 300)
(334, 300)

In [58]:
from sklearn.feature_selection import chi2
import numpy as np

for Product, category_id in sorted(category_codes.items()):
    features_chi2 = chi2(features_train, labels_train == category_id)
    indices = np.argsort(features_chi2[0])
    feature_names = np.array(tfidf.get_feature_names())[indices]
    unigrams = [v for v in feature_names if len(v.split(' ')) == 1]
    bigrams = [v for v in feature_names if len(v.split(' ')) == 2]
    print("# '{}' category:".format(Product))
    print("  . Most correlated unigrams:\n. {}".format('\n. '.join(unigrams[-5:])))
    print("  . Most correlated bigrams:\n. {}".format('\n. '.join(bigrams[-2:])))
    print("")

# 'business' category:
  . Most correlated unigrams:
. market
. bank
. firm
. economy
. growth
  . Most correlated bigrams:
. last year
. year old

# 'entertainment' category:
  . Most correlated unigrams:
. TV
. best
. award
. star
. film
  . Most correlated bigrams:
. tell BBC
. Mr Blair

# 'politics' category:
  . Most correlated unigrams:
. minister
. party
. Blair
. election
. Labour
  . Most correlated bigrams:
. tell BBC
. Mr Blair

# 'sport' category:
  . Most correlated unigrams:
. club
. side
. game
. team
. match
  . Most correlated bigrams:
. say Mr
. year old

# 'tech' category:
  . Most correlated unigrams:
. Microsoft
. computer
. software
. technology
. users
  . Most correlated bigrams:
. year old
. say Mr

In [59]:
category_codes.items()

dict_items([('business', 0), ('entertainment', 1), ('politics', 2), ('sport', 3), ('tech', 4)])

In [60]:
bigrams

['tell BBC', 'said The', 'last year', 'Mr Blair', 'year old', 'say Mr']

In [61]:
X_train.to_csv('Data/X_train1.csv')    
X_test.to_csv('Data/X_test1.csv')
y_train.to_csv('Data/y_train1.csv')
y_test.to_csv('Data/y_test1.csv')
df.to_csv('Data/df1.csv')

# features_train
with open('Data/features_train1.pickle', 'wb') as output:
    pickle.dump(features_train, output)

# labels_train
with open('Data/labels_train1.pickle', 'wb') as output:
    pickle.dump(labels_train, output)

# features_test
with open('Data/features_test1.pickle', 'wb') as output:
    pickle.dump(features_test, output)

# labels_test
with open('Data/labels_test1.pickle', 'wb') as output:
    pickle.dump(labels_test, output)
    
# TF-IDF object
with open('Data/tfidf1.pickle', 'wb') as output:
    pickle.dump(tfidf, output)

C:\Users\acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.
C:\Users\acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

C:\Users\acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.